/**
 * Table.
 */
.public_fixedDataTable_main {
  background-color: #fff;
  border: 0px solid rgba(0, 0, 0, .12);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
    0 3px 1px -2px rgba(0,0,0,.2),
    0 1px 5px 0 rgba(0,0,0,.12);
}

.public_fixedDataTable_topShadow {
  background: none;
}

.public_fixedDataTable_bottomShadow {
  background: none;
}


/**
 * Scrollbars.
 */
.public_Scrollbar_mainOpaque,
.public_Scrollbar_mainOpaque.public_Scrollbar_mainActive,
.public_Scrollbar_mainOpaque:hover {
  background-color: #fff;
}

/* Touching the scroll-track directly makes the scroll-track bolder */
.public_Scrollbar_main.public_Scrollbar_mainActive,
.public_Scrollbar_main:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.public_Scrollbar_face:after {
  background-color: #c2c2c2;
}

.public_Scrollbar_main:hover .public_Scrollbar_face:after,
.public_Scrollbar_mainActive .public_Scrollbar_face:after,
.public_Scrollbar_faceActive:after {
  background-color: #7d7d7d;
}


/**
 * Column resizer
 */
.public_fixedDataTableCell_columnResizerKnob {
  background-color: rgba(0, 0, 0, .12);
}

.public_fixedDataTableColumnResizerLine_main {
  border-color: rgba(0, 0, 0, .12);
}

.fixedDataTableCellLayout_columnResizerContainer {
  background-color: transparent;
  position: absolute;
  right: 0px;
  width: 20px;
  z-index: 1;
}


/**
 * Cell.
 */
.public_fixedDataTableCell_main {
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, .87);
  text-align: right;
}

.public_fixedDataTableCell_cellContent {
  padding: 8px 20px 8px 8px;
}

.fixedDataTableCellLayout_main {
  border-width: 1px;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  position: absolute;
  white-space: normal;
}

.fixedDataTableCellLayout_wrap1 {
  display: table;
  width: 100%;
  height: 100%;
}

.fixedDataTableCellLayout_wrap2 {
  display: table-row;
}

.fixedDataTableCellLayout_wrap3 {
  display: table-cell;
  vertical-align: middle;
}

.public_fixedDataTableCell_main .email {
  color: #4caf50;
  text-decoration: none;
}

.public_fixedDataTableCell_main .bold {
  font-weight: 600;
}

.public_fixedDataTableCell_main .image-container {
  padding: 0 20px 0 0;
}


/**
 * Header.
 */
.public_fixedDataTable_header .public_fixedDataTableCell_main {
  font-weight: 500;
  color: #fff;
  text-transform: capitalize;
  border-right: 1px solid #fff;
}

.public_fixedDataTable_header.public_fixedDataTableRow_main {
  background-color: #66bb6a;
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

.public_fixedDataTable_header,
.public_fixedDataTable_hasBottomBorder {
}

.public_fixedDataTable_header,
.public_fixedDataTable_header .public_fixedDataTableCell_main {
  background-color: transparent;
  background-image: none;
}

.public_fixedDataTable_header .clickableHeader {
  cursor: pointer;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.public_fixedDataTable_header .sortIcon {
  display: inline-block;
  vertical-align: middle;
  fill: #fff;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  margin-bottom: 2px;
}


/**
 * Footer
 */
.public_fixedDataTable_footer .public_fixedDataTableCell_main {
  background-color: #f6f7f8;
  border-color: #d3d3d3;
}


/**
 * Row.
 */
.public_fixedDataTableRow_main {
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.public_fixedDataTableRow_main:hover:not(.public_fixedDataTable_header) {
  cursor: pointer;
  background-color: #eee;
}

.public_fixedDataTableRow_highlighted,
.public_fixedDataTableRow_highlighted .public_fixedDataTableCell_main {
  background-color: transparent;
}

.row-selected {
  background-color: #f5f5f5;
}


/**
 * Fixed column.
 */
.public_fixedDataTableRow_fixedColumnsDivider {
  border: 0;
}

.public_fixedDataTableRow_columnsShadow {
  background: 0 0 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAFklEQVQIHWPSkNeSBmJhTQVtbiDNCgASagIIuJX8OgAAAABJRU5ErkJggg==) repeat-y;
}

.fixedDataTableRowLayout_columnsShadow {
  width: 4px;
}

.fixedDataTableRowLayout_fixedColumnsDivider {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 0;
}


/**
 * Checkbox
 */
.checkbox-group {
  position: relative;
  margin-bottom: 15px;
}
 
.checkbox-group input[type=checkbox] {
  display: none;
}
 
.checkbox-group label {
  display: inline-block;
  padding-left: 30px;
  cursor: pointer;
  height: 19px;
  line-height: 19px;
}
 
.checkbox-group label span {
  display: block;
  position: absolute;
  top: calc(50% - 4px);
  left: calc(50% - 4px);
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
}

.checkbox-group label .box {
  z-index: 9;
  height: 15px;
  width: 15px;
  background: #fff;
  border: 2px solid #616161;
  border-radius: 2px;
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}
 
.checkbox-group label .check {
  top: calc(50% - 4px + 1px);
  left: calc(50% - 4px + 6px);
  z-index: 10;
  width: 5px;
  height: 12px;
  border: 2px solid #fff;
  border-top: none;
  border-left: none;
  opacity: 0;
  transform: scale(1) rotate(45deg);
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}
 
.checkbox-group input[type=checkbox]:checked ~ label .box {
  background: #4caf50;
  border-color: #4caf50;
}
 
.checkbox-group input[type=checkbox]:checked ~ label .check {
  opacity: 1;
}


/* ---------- Untouched ---------- */

/**
 * FixedDataTable v0.6.0 
 *
 * Copyright (c) 2015, Facebook, Inc.
 * All rights reserved.
 *
 * This source code is licensed under the BSD-style license found in the
 * LICENSE file in the root directory of this source tree. An additional grant
 * of patent rights can be found in the PATENTS file in the same directory.
 */

/**
 * Copyright (c) 2015, Facebook, Inc.
 * All rights reserved.
 *
 * This source code is licensed under the BSD-style license found in the
 * LICENSE file in the root directory of this source tree. An additional grant
 * of patent rights can be found in the PATENTS file in the same directory.
 *
 */

/**
 * ScrollbarLayout
 */
.ScrollbarLayout_main {
  box-sizing: border-box;
  outline: none;
  overflow: hidden;
  position: absolute;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ScrollbarLayout_mainVertical {
  bottom: 0;
  right: 0;
  top: 0;
  -webkit-transition-property: background-color width;
          transition-property: background-color width;
  width: 15px;
}

.ScrollbarLayout_mainVertical.public_Scrollbar_mainActive,
.ScrollbarLayout_mainVertical:hover {
  width: 17px;
}

.ScrollbarLayout_mainHorizontal {
  bottom: 0;
  height: 15px;
  left: 0;
  -webkit-transition-property: background-color height;
          transition-property: background-color height;
}

/* Touching the scroll-track directly makes the scroll-track bolder */
.ScrollbarLayout_mainHorizontal.public_Scrollbar_mainActive,
.ScrollbarLayout_mainHorizontal:hover {
  height: 17px;
}

.ScrollbarLayout_face {
  position: absolute;
  overflow: hidden;
  left: 0;
  z-index: 1;
}

/**
 * This selector renders the "nub" of the scrollface. The nub must
 * be rendered as pseudo-element so that it won't receive any UI events then
 * we can get the correct `event.offsetX` and `event.offsetY` from the
 * scrollface element while dragging it.
 */
.ScrollbarLayout_face:after {
  border-radius: 6px;
  content: '';
  display: block;
  position: absolute;
  -webkit-transition: background-color 250ms ease;
          transition: background-color 250ms ease;
}

.ScrollbarLayout_faceVertical {
  left: 0;
  right: 0;
  top: 0px;
}

.ScrollbarLayout_faceHorizontal {
  bottom: 0;
  left: 0;
  top: 0;
}

.ScrollbarLayout_faceHorizontal:after {
  bottom: 4px;
  left: 0;
  top: 4px;
  width: 100%;
}

.ScrollbarLayout_faceVertical:after {
  height: 100%;
  left: 4px;
  right: 4px;
  top: 0;
}


/**
 * fixedDataTableCellGroupLayout
 */
.fixedDataTableCellGroupLayout_cellGroup {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.fixedDataTableCellGroupLayout_cellGroup > .public_fixedDataTableCell_main {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}

.fixedDataTableCellGroupLayout_cellGroupWrapper {
  position: absolute;
  top: 0;
}


/**
 * fixedDataTableCellLayout
 */
.fixedDataTableCellLayout_alignRight {
  text-align: right;
}

.fixedDataTableCellLayout_alignCenter {
  text-align: center;
}

.fixedDataTableCellLayout_columnResizerContainer:hover {
  cursor: ew-resize;
}

.fixedDataTableCellLayout_columnResizerContainer:hover .fixedDataTableCellLayout_columnResizerKnob {
  visibility: visible;
}

.fixedDataTableCellLayout_columnResizerKnob {
  position: absolute;
  right: 0px;
  visibility: hidden;
  width: 4px;
}


/**
 * fixedDataTableColumnResizerLineLayout
 */
.fixedDataTableColumnResizerLineLayout_mouseArea {
  cursor: ew-resize;
  position: absolute;
  right: -5px;
  width: 12px;
}

.fixedDataTableColumnResizerLineLayout_main {
  border-right-style: solid;
  border-right-width: 1px;
  box-sizing: border-box;
  position: absolute;
  z-index: 10;
}

body[dir="rtl"] .fixedDataTableColumnResizerLineLayout_main {
  /* the resizer line is in the wrong position in RTL with no easy fix.
   * Disabling is more useful than displaying it.
   * #167 (github) should look into this and come up with a permanent fix.
   */
  display: none !important;
}

.fixedDataTableColumnResizerLineLayout_hiddenElem {
  display: none !important;
}


/**
 * fixedDataTableLayout
 */
.fixedDataTableLayout_main {
  border-style: solid;
  border-width: 0;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.fixedDataTableLayout_header,
.fixedDataTableLayout_hasBottomBorder {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.fixedDataTableLayout_footer .public_fixedDataTableCell_main {
  border-top-style: solid;
  border-top-width: 1px;
}

.fixedDataTableLayout_topShadow,
.fixedDataTableLayout_bottomShadow {
  height: 4px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 1;
}

.fixedDataTableLayout_bottomShadow {
  margin-top: -4px;
}

.fixedDataTableLayout_rowsContainer {
  overflow: hidden;
  position: relative;
}

.fixedDataTableLayout_horizontalScrollbar {
  bottom: 0;
  position: absolute;
}


/**
 * fixedDataTableRowLayout
 */
.fixedDataTableRowLayout_main {
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.fixedDataTableRowLayout_body {
  left: 0;
  position: absolute;
  top: 0;
}

.fixedDataTableRowLayout_rowWrapper {
  position: absolute;
  top: 0;
}


/* ---------- Unused ---------- */

.fixedDataTableCellLayout_lastChild {
  border: 0;
}